# Directories
node_modules/
dist/
build/
coverage/
.next/
.out/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build artifacts
*.log
*.cache

# Generated assets
public/mockServiceWorker.js
public/vite.svg
public/img/

# IDE
.idea/
.DS_Store

